ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
}



li{
    
    float: left;
    padding-right: 10px;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

ul div{
    float: right;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;

}
ul div{
    float: right;
}


.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    width:30%;
    margin: 20px 0 0 400px;
    border-radius: 15px;
}
@media screen and (max-width:500px) {
    .form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 40px;
        width:max-content;
        margin: 20px 0 0 0px;
        border-radius: 15px;
    }
    
}
